@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rodin";
  src: url("../public/FOTRodin\ Pro\ DB.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
